################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/Microservices/FileContentIndex/13243ccb-4a13-459d-940b-8ddc450e9cd5.vsidx
/.vs/Microservices/FileContentIndex/224bcdb5-490a-439e-bdd9-a149439f2a1b.vsidx
/.vs/Microservices/FileContentIndex/473f0c0f-c658-4072-a1dd-0f67ed6cd732.vsidx
/.vs/Microservices/FileContentIndex/52c3bf4b-a291-4aec-8fc1-357e163432b1.vsidx
/.vs/Microservices/FileContentIndex/5de0375e-e7db-4963-94c1-0c958dd9a8e5.vsidx
/.vs/Microservices/FileContentIndex/7d698a87-9616-4a0f-9db7-6825e322cc91.vsidx
/.vs/Microservices/DesignTimeBuild/.dtbcache.v2
/.vs/Microservices/FileContentIndex/7a97b373-4e21-4a8d-ae21-7b44e75f199a.vsidx
