################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/Microservices/FileContentIndex/13243ccb-4a13-459d-940b-8ddc450e9cd5.vsidx
